body{
    background-color:burlywood;
    padding: 30px;
}
h2, h5{
    text-align: center;
}
img {
    width: 150px;
    height: 150px;
    border: 5px solid purple;
}
.veicolo{
    display: inline-block;
    width: 150px;
    margin: 10px;
}
.titolo{
    font-size: 16pt;
}
.didascalia{
    font-size: 12pt;
	border: 5px solid black;
}